@media (max-width:992px) {
    .circal-top-left {
        max-width: 14.875rem;
    }
.circal-bottom-right {
    max-width: 8.875rem;
    right: -7rem;
}
.Courses_section .right-content {
    padding-left: 5%;
}
.register_form{
    padding: 2rem 1rem;
} 
.bolgs_section {
    margin-top: 30rem;
}
.main-box {
    margin-bottom: 2rem;
}
.circals_switchers {
    margin-top: -16rem;
}
.first_blog-post {
    padding-right: 1.5rem;
}

}

@media (min-width:992px) {
    .testimonial_card_container .testimonial_card {
        width: 35.625rem;
    }
    .gallery_section  .right-content {
        height: 30rem;
    }
    .circals_switchers {
        margin-top: 3rem;
    }
}