@media (min-width:768px) {
    .hero_section {
        background-repeat: no-repeat;
        background-size:contain;
        width: 100%;
        background-position: right bottom;
        background-image: url('../images/heroimg.svg');
    }
    .Register_section .time.Day {
        margin-right: 3.5rem;
    }
    .resposive-2-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}
@media (max-width:768px) {
    .Register_section .time.Day {
        margin-right:.75rem;
    }
    .hero-button  {
        padding: 1rem;
    }
    .right-content {
        margin-left: 0 !important;
    }
    .hero_section {
        text-align: center;
        background-position: center bottom;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero_section button {
        margin-block:1rem 3rem !important;
        font-size: 1rem;
    }
}